@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Black.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-SemiBold.ttf);
    font-weight: 900;
}

*{
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

header{
    background-color: #b4b4b4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 15px 10%;
}

header a:hover{
    color: #435AD5;
}


header>a{
    justify-self: start;
    align-items: center;
    display: grid;
    grid-template-columns: 90px 1fr;
    color: #435AD5;
    font-weight: 900;
}



header>ul{
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}




main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 10%;
    align-items: center;
}

main>div{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    align-items: center;
}


main>div .btn{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}


.button {
    padding: 10px 40px ;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-items: center;

}


.btn .button{
    border-radius: 10px;
    background-color: #435AD5;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.button>a{
    justify-content: center;
}

footer>a {
    justify-self: end;
    align-items: center;
    display: grid;
    grid-template-columns: 90px 1fr;
    color: #435AD5;
    font-weight: 900;
}


footer{
    display: grid;
    grid-template-columns: 1fr 200px 250px;
    align-items: center;
    justify-self: end;
    padding: 15px 10%;
    background-color: #b4b4b4;
}

footer>p{
    font-weight: 900;
    justify-self: end;
}



